.post-card {
  background: #fff;
  padding: 15px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  transition: 0.2s;
}

.post-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.post-user {
  font-weight: 600;
  margin-bottom: 10px;
}
